In [45]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [77]:
df = pd.read_csv('5_letter_words.csv')

In [78]:
df

     5_letter_words
0             aback
1             abase
2             abate
3             abaya
4             abbey
...             ...
2494          young
2495          yours
2496          youth
2497          yummy
2498          zones

[2499 rows x 1 columns]

In [79]:
labels = ['First','Second','Third', 'Fourth', 'Fifth']

print('Most Common:')
for nlabel, nletter in zip(labels, range(5)):
    print(('   ' + nlabel + ' Letter: ' + df['5_letter_words'][:].str[nletter].value_counts().idxmax()))
    #print(df['5_letter_words'][:].str[nletter].value_counts())

Most Common:
   First Letter: c
   Second Letter: o
   Third Letter: a
   Fourth Letter: e
   Fifth Letter: s